#titulo{
    background-color: rgb(250, 175, 255);
    color: rgb(131, 0, 91);
    text-align: center;
    padding: 10px;
}

#menu{
    background-color: rgb(81, 1, 64);
    color: black;
    padding: 10px;
    text-align: center;
}